body {
  background: #d1d6d8;
  font-family: "Source Sans Pro", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", cursive; }

svg {
  width: 35px; }

.navbar {
  background: #c43929; }

.view-title {
  font-size: 2.6em;
  margin: 5px 10px 0 87px;
  color: #fff;
  display: inline-block;
  font-family: "Patua One", cursive;
  text-align: center; }

.fa-ellipsis-v {
  font-size: 2em;
  color: #f4c715; }

.menu .btn {
  width: 100%; }

.activity h1 {
  font-size: 2.8em; }
.activity p {
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 200; }
.activity .activity-label {
  color: #ccc; }
.activity .activity-nav-left, .activity .activity-nav-right {
  font-size: 1.3em;
  float: right;
  display: block;
  position: absolute;
  bottom: 10px; }
.activity .activity-nav-left {
  left: 10px; }
.activity .activity-nav-right {
  right: 10px; }
.activity.receive .activity-label {
  margin: 10px 0 -20px 0;
  display: block; }
.activity.complete .fa-check {
  margin: 0 auto;
  text-align: center;
  color: green;
  font-size: 6em;
  opacity: .4;
  margin: 10% 0 0 0; }

.feed {
  margin: 0 0 20px 0; }
  .feed.response {
    border: 1px solid #eee;
    padding: 20px;
    background: #fff; }
    .feed.response .user-name, .feed.response .user-img {
      float: left;
      position: block; }
    .feed.response .user-img {
      width: 65px; }
    .feed.response .user-name {
      font-family: "Patua One", cursive;
      padding: 20px 0 0 10px; }
    .feed.response .time-since-posted {
      font-family: "Source Sans Pro", sans-serif;
      opacity: .45; }
    .feed.response .activity-name {
      float: right;
      margin: -7px 0 0 0; }
    .feed.response .response-text {
      padding: 65px 3px 30px 3px; }
    .feed.response .options-open {
      float: right;
      position: relative;
      bottom: 14px;
      right: -16px; }
      .feed.response .options-open a {
        padding: 0 12px 0 0;
        font-size: 1.2em; }
    .feed.response .fa-ellipsis-v {
      color: #f4c715;
      position: relative;
      bottom: 18px;
      right: 0;
      float: right; }
